@model Data.DTOs.Baskets.BasketDto
@{
    ViewData["Title"] = "Index";
}

<!-- Preloader-->
<div class="preloader" id="preloader">
    <div class="spinner-grow text-secondary" role="status">
        <div class="sr-only">بارگذاری...</div>
    </div>
</div>
<!-- Header Area-->
<div class="header-area" id="headerArea">
    <div class="container h-100 d-flex align-items-center justify-content-between">
        <!-- Back Button-->
        <div class="back-button"><a href="shop-grid.html"><i class="lni lni-arrow-right"></i></a></div>
        <!-- Page Title-->
        <div class="page-heading">
            <h6 class="mb-0">سبد خرید من</h6>
        </div>
        <!-- Navbar Toggler-->
        <div class="suha-navbar-toggler d-flex justify-content-between flex-wrap" id="suhaNavbarToggler"><span></span><span></span><span></span></div>
    </div>
</div>
<!-- Sidenav Black Overlay-->
<div class="sidenav-black-overlay"></div>
<!-- Side Nav Wrapper-->
<div class="page-content-wrapper">
    <div class="container">
        <!-- Cart Wrapper-->
        <div class="cart-wrapper-area py-3">
            <div class="cart-table card mb-3">
                <div class="table-responsive card-body">
                    <table class="table mb-0">
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>
                                    <th scope="row">
                                        <form asp-action="RemoveItemFromBasket" method="post">
                                            <input type="hidden" class="remove-product" name="ItemId" value="@item.ProductId">
                                            <button class="ml-3 close text-danger" type="submit">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </form>
                                    </th>
                                    <td><img src="/ImageProductCategory/@item.ImageUrl" alt=""></td>
                                    <td><a href="single-product.html"> @item.ProductName<span>@item.UnitPrice   تومان ×  @item.Quantity </span> </a> </td>
                                    <td>
                                        <div class="quantity">
                                            <input class="qty-text" type="text" onchange="SetQuantity('@item.Id')" id="quantity-@item.Id" value="@item.Quantity" readonly="">
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Coupon Area-->
            <div class="card coupon-card mb-3">
                <div class="card-body">
                    <div class="apply-coupon">
                        <h6 class="mb-0">تخفیف دارید؟</h6>
                        <p class="mb-2">کد تخفیف خود را اینجا وارد کنید و از تخفیف های عالی استفاده کنید!</p>
                        <div class="coupon-form">
                            <form asp-action="ApplyDiscount" method="post">
                                <input type="hidden" value="@Model.Id" name="BasketId" />
                                <input class="form-control" type="text" name="CouponCode" placeholder="کد را وارد کنید...">
                                <button class="btn btn-primary" type="submit">ثبت کد تخفیف</button>
                            </form>
                        </div>
                    </div>
                    @if (TempData["InvalidMessage"] != null)
                    {
                        <div class="alert alert-warning">
                            <b> @TempData["InvalidMessage"]  </b><br />
                        </div>
                    }
                </div>
            </div>
            <!-- Cart Amount Area-->
            <div class="card cart-amount-area">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <h5 class="total-price mb-0"><span class="counter">  @Model.Items.Sum(p => p.UnitPrice * p.Quantity).ToString("n0")</span> تومان</h5>
                    <a href="/Basket/ShippingPayment" class="btn btn-warning">پرداخت </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Internet Connection Status-->
<div class="internet-connection-status" id="internetStatus"></div>
<!-- Footer Nav-->
<div class="footer-nav-area" id="footerNav">
    <div class="container h-100 px-0">
        <div class="suha-footer-nav h-100">
            <ul class="h-100 d-flex align-items-center justify-content-between pl-0">
                <li class="active"><a href="home.html"><i class="lni lni-home"></i>خانه</a></li>
                <li><a href="message.html"><i class="lni lni-life-ring"></i>حمایت کردن</a></li>
                <li><a href="cart.html"><i class="lni lni-shopping-basket"></i>سبد خرید</a></li>
                <li><a href="pages.html"><i class="lni lni-heart"></i>صفحات</a></li>
                <li><a href="settings.html"><i class="lni lni-cog"></i>تنظیمات</a></li>
            </ul>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        function SetQuantity(itemId) {
            var quantity = $("#quantity-" + itemId).val();
            $.ajax({
                type: "POST",
                url: "/basket/setquantity?basketItemId=" + itemId + "&&quantity=" + quantity,
                success: function () {
                    location.reload();
                }
            })
        }
    </script>
}